@import "bootstrap/scss/functions";  // Import de Bootstrap SCSS
@import "bootstrap/scss/variables";  // Import des variables Bootstrap
@import "bootstrap/scss/bootstrap";  // Import de la base Bootstrap





/* Personnalisation des couleurs */


$primary: #ff6f61;  /* Couleur principale (exemple) */
$secondary: #4c9ff5; /* Couleur secondaire */
$success: #28a745;  /* Couleur du succès */
$danger: #dc3545;   /* Couleur des erreurs */
$warning: #ffc107;  /* Couleur d'avertissement */
$info: #17a2b8;     /* Couleur d'information */
$light: #f8f9fa;    /* Couleur claire */
$dark: #343a40;     /* Couleur sombre */


