@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Gabarito:wght@400..900&family=Major+Mono+Display&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+US+Trad:wght@100..400&family=Quicksand:wght@300..700&display=swap');


/*VARIABLE DE COULEUR*/
:root{
--primary-color: #E8B4BC;   /* Rose poudré */
--secondary-color: #C492B1; /* Beige nude */
--succes-color: #AF3B6E;   /* Or champagne */
--danger-color: #2B2B2B;    /* Noir profond */
--warning-color: red;  /* Blanc perle */
--info-color: #FADADD;      /* Rose clair */
--light-color: #FFF5F5;     /* Rose très pâle */
--dark-color: #61213D;     /* Gris anthracite doux */
}





  /*NAVLINK*/

  .nav-link {
    font-family: "Quicksand", sans-serif;
    position: relative;
    transition: background-color 0.3s ease;
    color: #61213D;
   
  }

  .nav-link:hover {
    background-color: var(--secondary-color);
     border-radius: 5px;
    padding: 5px 10px;
    color: white;
  }



  /*CAROUSEL*/
  .carousel-image {
    width: 100%;       /* Prend toute la largeur */
    max-height: 600px; /* Réduit la hauteur maximale */
    object-fit: cover; /* Coupe l'image pour qu'elle rentre bien */
  }



  /*ABOUT*/
  .about-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    opacity: 0; /* Par défaut, tout est caché */
    transform: translateX(50px); /* Décale l'élément à droite */
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  .about-section h1{
    color: var(--succes-color);
    font-family:"Playwrite US Trad", sans-serif;
    font-size: 1.5rem;
    margin:15px;
  }
  
  .about-section.fade-in {
    opacity: 1; /* Lorsque visible, l'opacité devient 1 */
    transform: translateX(0); /* L'élément revient à sa position d'origine */
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .about-text {
    width: 50%;
    padding-right: 20px;
  }
  
  .about-text h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: "Quicksand", sans-serif;
    color: var(--dark-color);
  }
  
  .about-text p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Quicksand", sans-serif;
  }
  
  .about-image {
    width: 50%;
  }
  
  .about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  

  /*ICONS*/
  /* Section des icônes */
.icons-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  text-align: center;
  margin-top: 50px;
  background-color: var(--info-color);
  padding:50px;
}
.icons-section h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  margin: 15px;
  
}

.icons-section.slide-in {
  opacity: 1;
  transform: translateY(0);
}

/* Style des icônes */
.icon-container {
  display: flex;
  justify-content: center;
  gap: 150px;
  flex-wrap: wrap;
}

.icon-item {
  text-align: center;
  max-width: 200px;
}

.icon {
  weight: 50px;
  height: 100px;
}

/* Effet de zoom et d’ombre au survol */
.icon-item:hover .icon {
  transform: scale(1.2); /* Agrandissement */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}